* {
    margin: 0;
    padding: 0;
    text-align: center;
    color:#EEEEEE;
    
}
* main a {
    color:#EEEEEE;
    border-bottom: 1px solid darkgrey;
    text-transform: capitalize;
    
}
.container-fluid {
    padding: 0;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

.top-r {
    text-align: right;
}

main {}

section {
    width: 100%;

}

#home {
    background: url("../css/assets/img/alcohol-bar-beer-1283219.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

#home .card {
    margin: auto;
    text-align: center;
    width: 50vw;
    min-width: 25rem;
    height: 15rem;
    border-radius: 15px;
    font-size: 1.2rem;

}

#home .card .card-title {
    border-bottom: 1px solid white;
    max-width: 25rem;
    margin: auto;
}

#featured {
    background: url("../css/assets/img/pexels-photo-613037.jpeg") center;
    background-size: cover;
    padding: 0 0 3rem 0;
    background-color: #673AB7;
}

#featured h2 {
    padding-top: 3.2rem;
    color: white;

}

#featured .card-deck {
    margin: auto;
    width: 85vw;
    margin: auto;
}

#featured .card {
    min-height: 400px;
    overflow: auto;
    min-width: 300px;
    background:url(../css/assets/abstract-ancient-antique-235985.jpg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#about {
    min-height: 15vh;
    width: 100%;
    background: slategrey url("../css/assets/img/diagonal-squares.png") repeat;
    background-size: auto;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
}

#about .page-title,
#about p {
    margin-bottom: 0;
}

.placeholder {
    min-height: 15vh;
    background: url("../css/assets/img/diagonal-squares.png") repeat;
}

#findMore {
    min-height: 100vh;
    background-color: #283593;
    background: url(../css/assets/img/glasses-ice-cubes-illuminated-drink-162475.jpeg) center;
    background-size: cover;

}

#findMore h1 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: white;
}
#findMore .nav-tabs a {
    color:white;
}
#findMore .nav-tabs {
    border-bottom: 1px solid #2a2f33;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:white;
    background-color:#2a2f33;
    border-color: #32373c #383d41 #343a40;
}
.tab-content,
#findMore ul {
    
    width: 80vw;
    margin: auto;
}
.tab-content a {
    
}
.tab-content .card-columns {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 10px;
}

.tab-content .card {
    margin-left: 10px;
    padding-top:10px;
    background: url("../css/assets/abstract-ancient-antique-235985.jpg");
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

footer {
    color: white;
    background: darkgrey;
}

/* CSS for Post Page Starts Here */

#postPage {
    background: url("../css/assets/img/alcohol-bar-beer-1283219.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;

}

#postPage .container-fluid {}

#postPage .container-fluid .card {
    max-height: 90vh;
    width: 75vw;
    max-width: 80rem;
    margin: 10px auto;
    background: url(../css/assets/abstract-ancient-antique-235985.jpg) repeat;
    background-size: cover;


}

#postPAge .container-fluid .card .card-body {
    overflow: auto;
}

#postPage .container-fluid .card .card-img-top {
    max-height: 45vh;
    width: auto;
    margin: 10px auto;
}

#postPage ul {
    list-style: none;
}

@media only screen and (max-width: 600px) {

    #postPage .container-fluid .card {
        width: 100%;
        max-height: 100%;
        margin: auto;
        overflow: visible;

    }
}

/* CSS for new page starts here */
#singlePage {
    background: url("../css/assets/img/alcohol-bar-beer-1283219.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    max-height: 100vh;
}

#singlePage .card {
    margin: 10px auto;
    width: 100vw;
    min-height: 25vh;
    background: url(../css/assets/abstract-ancient-antique-235985.jpg) right repeat;
    background-size: cover;
}

@media only screen and (min-width:600px) {
    #singlePage .card {
        margin: 5vh auto;
        width: 80vw;
        max-height: 80vh;
        min-height: 25vh;
        overflow: auto;

    }
}

/* Archive Page */
#archive {
    background: url("../css/assets/img/alcohol-bar-beer-1283219.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

}

#archive .card {
    height: auto;
    max-height: 80vh;
    overflow: auto;
    min-width: 50vw;
}

.archList {
    list-style: none;
}

.archList .borderTop {
    border-top: 1px solid black;
    width: 75%;
    margin: auto;
    margin: 10px auto;
}